.field-document {
  table {
    border: none;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    thead {
      th {
        color: $siasar-blue;
        padding: 5px;
        border: none;
      }
    }
    tbody {
      td {
        padding: 5px;
      }
    }
  }
}
