.field-extra-photos {
  margin: 40px 10px 0;
  display: table;

  @include breakpoint($break-small) {
    margin-left: -3px;
    margin-right: 0;
  }
  @include breakpoint($break-medium) {
    width: calc(100% - 400px);
  }

  li {
    display: block;
    float: left;
    width: calc(50% - 1px);
    margin: 0 0 2px 2px;

    &:nth-child(odd) {
      margin-left: 0;
    }

    @include breakpoint($break-small) {
      width: calc(20% - 3px);
      margin: 0 0 3px 3px;

      &:nth-child(odd) {
        margin-left: 3px;
      }
    }
    @include breakpoint($break-medium) {
        max-width: calc(100% / 6 - 3px);
        width: auto;
    }

    a,
    img {
        display: block;
        width: 100%;
    }
  }
}
