@mixin outstanding_paragraph() {
  padding: 0.5em 10px;
  background-color: $siasar-blue;
  color: white;
  font-family: $headers-font;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.01em;

  @include breakpoint($break-small) {
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    font-size: 1.2rem;
  }
  @include breakpoint($break-medium) {
    padding-left: 0;
    padding-right: 0;
    font-size: 1.5rem;
  }
} 

@mixin flexbox_grid() {
  @include display-flex();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(center);
}

@mixin paragraph_width_setup($width) {
  max-width: $width;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($break-small) {
    padding: 0 20px;
  }
  @include breakpoint($break-medium) {
    padding: 0;
  }
}
