// Blog items list view page

body.page-blog {
  #main-content {
    .content {
      max-width: 960px;

      .blog-item {
        position: relative;
        display: block;
        width: 100%;
        height: 250px;
        margin-bottom: 30px;
        background: $siasar-cyan center center no-repeat;
        background-size: cover;
        color: white;

        @include breakpoint($break-small) {
          height: 305px;
          width: calc(50% - 10px);
          margin-bottom: 20px;
          margin-right: 20px;
          float: left;

          &:nth-child(even) {
            margin-right: 0;
          }
        }

        .text-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 15px;
          background: rgba(0,0,0, 0.4);

          @include breakpoint($break-medium) {
            padding: 20px;
          }

          h2 {
            position: absolute;
            padding: 10px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0;
            font-size: 16px;
            line-height: 1.3;
            font-weight: bold;

            @include breakpoint($break-small) {
              font-size: 18px;
            }
            @include breakpoint($break-medium) {
              font-size: 21px;
            }

            span {
              display: inline;
              color: white;
            }
          }
          .date {
            font-weight: lighter;
            font-size: 10px;
            color: $siasar-almost-white;
          }
        }

      }
    }
  }
}

// Full view page
body.node-type-blog-post {
  .field-extra-photos {
    width: 100%;
  }
}
