body.node-type-complex-layout-page {
  #main-content {
    margin-bottom: 100px;

    .field-subtitle {
      width: 100%;
      margin: 0;
      @include outstanding_paragraph();

      .wrapper {
        max-width: 800px;
        margin: 0 auto;
      }
    }
    .content {
      max-width: none;
      min-height: 0;
      margin-top: 0;

      .paragraphs-items {
        .entity-paragraphs-item {
          margin: 30px auto 0;

          @include breakpoint($break-small) {
            margin-top: 40px;
          }
          @include breakpoint($break-medium) {
            margin-top: 50px;
          }
          .content {
            margin: 0;
          }
        }

        .paragraphs-item-main-text {
          margin-top: 10px;
          @include paragraph_width_setup($paragraph-medium);

          @include breakpoint($break-small) {
            margin-top: 2em;
          }
        }
        .paragraphs-item-image-grid {
          @include paragraph_width_setup($paragraph-medium);

          .content {
            @include flexbox_grid();
            @include align-items(flex-start);
          }

          .field-image-grid {
            width: calc(50% - 5px);
            font-size: 10px;
            line-height: $default-line-height;
            position: relative;
            margin: 0 10px 10px 0;

            &:nth-child(even) {
              margin-right: 0;
            }

            @include breakpoint($break-small) {
              width: calc(50% - 10px);
              margin: 0 20px 20px 0;
              font-size: 16px;
            }
            @include breakpoint($break-medium) {
              width: calc( 100% / 3 - (20px / 3 * 2));

              &:nth-child(even) {
                margin-right: 20px;
              }
              &:nth-child(3n) {
                margin-right: 0;
              }
            }

            > img {
              width: 100%;
            }
            
            .field-caption {
              margin: 0;
              color: $siasar-blue;
              font-weight: bold;
            }
            .field-texto {
              margin-bottom: $plus-icon-size;
            }
            .field-extra-text {
              display: block;
              box-sizing: border-box;
              position: relative;
              padding-top: $plus-icon-size;
              margin-top: -$plus-icon-size;
              height: 0;
              overflow: hidden;

              @include breakpoint($break-small) {
                color: rgba(0, 0, 0, 0);
                background-color: rgba(255, 255, 255, 0);
              }

              &:before {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                content: '+';
                color: $siasar-blue;
                font-weight: bold;
                width: $plus-icon-size;
                height: $plus-icon-size;
                font-size: $plus-icon-size;
                line-height: $plus-icon-size;
                text-align: center;
                cursor: pointer;
                transition: transform $transition-fast;
              }
              &:after {
                border: none;
                height: 0;
                width: 0;
                content: ' ';
                opacity: 0;
              }

              &.active {
                position: absolute;
                bottom: 0;
                top: 0;
                right: 0;
                background: white;
                color: black;        
                padding: 10px;
                width: 100%;
                height: auto;      
                z-index: 1;
                margin: 0;
                font-weight: normal;
                overflow: visible;
                cursor: pointer;
                transition: color $transition-fast, background-color $transition-fast;

                &:before {
                  display: none;
                }

                @include breakpoint($break-small) {
                  padding: 20px;             
                }

                @include breakpoint($break-medium) {
                  right: calc(-50% + 7px);
                  bottom: $plus-icon-size * 2;
                  top: auto;

                  &:before {
                    display: block;
                    top: auto;
                    bottom: -$plus-icon-size * 2;
                    right: calc(50% - 7px);
                    transform: rotate(45deg);
                  }

                  &:after {
                    position: absolute;
                    bottom: -$plus-icon-size;
                    right: 50%;
                    transform: translateX(50%);
                    width: 0; 
                    height: 0;
                    border-left: $plus-icon-size solid transparent;
                    border-right: $plus-icon-size solid transparent;
                    border-top: $plus-icon-size solid white;
                    font-size: 0;
                    line-height: 0;
                    opacity: 1;
                    transition: opacity $transition-fast;
                  }
                }
              }
            }  
          }
        }
        .paragraphs-item-outstanding-text {
          @include outstanding_paragraph();

          .field-texto {
            max-width: 800px;
            margin: 0 auto;
          }
        }
        .paragraphs-item-text-section {
          @include paragraph_width_setup($paragraph-medium);

          h2 {
            text-align: center;
            margin: 0 0 0.75em;
          }
          .field-texto {
            line-height: $default-line-height;

            li {
              list-style-type: disc;
              list-style-position: outside;
              margin-left: 1em;
              margin-bottom: 0.25em;
            }
          }
        }
        .paragraphs-item-image,
        .paragraphs-item-image-section {
          h2 {
            text-align: center;
            margin: 0 0 1em;

            @include breakpoint($break-small) {
              margin-bottom: 1.2em;
            }
          }
          img {
            display: block;
            margin: 0 auto;
            max-width: 960px;
            width: 100%;
          }
        }
        .paragraphs-item-image-section {
          background: white;
          padding: 2em 10px;

          @include breakpoint($break-small) {
            padding-left: 20px;
            padding-right: 20px;
          }
          @include breakpoint($break-medium) {
            padding: 3em 0 4em;
          }

          img {
            max-width: 800px;
          }
        }
        .paragraphs-item-image-stripe {
          width: 100%;
          @include flexboxes_container(center, flex-start, row);

          img {
            display: block;
            width: calc(100% / 3);
            margin: 0;

            @include breakpoint($break-small) {
              width: 25%;
            }
            @include breakpoint($break-medium) {
              width: calc(100% / 6);
            }
          }
        }
      }
    }
  }
}
