.node-type-country-profile {
  background-color: $siasar-almost-white;

  #main-content {
    padding-bottom: 50px;

    .node-country-profile {
      background-color: $siasar-almost-white;

      .title-header {
        background-size: contain;
        background-color: $countries-background-color;
        background-repeat: no-repeat;
      }

      .content {
        @include breakpoint($break-small) {
          width: calc(100% - 40px);
        }
        @include breakpoint($break-large) {
          width: 100%;
        }

        h2 {
          font-size: 18px;
          margin-bottom: 0.5em;

          @include breakpoint($break-small) {
            font-size: 21px;
          }
          @include breakpoint($break-medium) {
            font-size: 24px;
          }
        }

        .group-country-datasheet {
          position: relative;
          margin: 0 auto 20px;
          display: table;
          clear: right;
          font-size: 10px;
          line-height: 2;
          width: calc(100% - 20px);
          max-width: 320px;
          background-color: white;

          @include breakpoint($break-small) {
            float: right;
            width: 100%;
            margin: 0 0 20px 20px;
            font-size: 12px;
          }
          @include breakpoint($break-medium) {
            max-width: 360px;
          }
          h2 {
            background: #096396;
            color: white;
            font-size: 10px;
            padding: 1px 0px 1px 5px;

            @include breakpoint($break-small) {
              font-size: 12px;
            }
          }

          h3,
          div {
            box-sizing: border-box;
            display: block;
            padding: 2px 5px 1px;
          }

          h3 {
            width: 135px;
            margin: 0;
            float: left;
            clear: left;
            font-family: $body-font;
            font-weight: bold;
            line-height: 2;
            font-size: 10px;
            color: $siasar_blue;

            @include breakpoint($break-small) {
              font-size: 12px;
            }
          }

          div {
            margin: 0 0 0 135px;

            &::after {
              content: ' ';
              display: block;
              margin-left: -140px;
              margin-right: -5px;
              height: 0;
              border-bottom: solid $siasar_light_grey 1px;
              clear: left;
            }
            &:last-child::after {
              border: none;
            }
          }
        }

        .field-body {
          clear: both;
          margin-bottom: 50px;
          padding: 0 10px;

          @include breakpoint($break-small) {
            padding: 0;
            clear: none;
          }
          @include breakpoint($break-medium) {
            width: calc(100% - 400px);
          }
        }

        iframe {
          display: block;
          margin: 40px 10px;
          border: none;
          width: 100%;
          max-width: calc(100vw - 20px);
          height: 300px;

          @include breakpoint($break-small) {
            margin: 50px auto;
            height: 750px;
            max-width: calc(100vw - 40px);
          }
        }

        .group-reports {
          box-sizing: border-box;
          background: url(../images/icons/chartset.png) 19px 17px no-repeat #00a099;
          background-size: auto 38px;
          padding: 20px 20px 20px 140px;
          margin: 0 0 30px;
          font-size: 12px;
          color: white;

          @include breakpoint($break-small) {
            margin-bottom: 20px;
            margin-left: 20px;
            padding: 90px 20px 20px;
            float: right;
            text-align: center;
            background-size: auto 50px;
            background-position: center 20px;
            width: 320px;
            font-size: 16px;
          }
          @include breakpoint($break-medium) {
            float: left;
            width: auto;
          }

          .field-com-report-links,
          .field-com-download-links {
            p {
              cursor: pointer;
            }
          }

          a {
            color: white;
            font-weight: normal;
            display: table;
            white-space: nowrap;

            @include breakpoint($break-small) {
              margin: 0 auto;
            }

            &.button {
              margin-bottom: 10px;
              font-weight: bold;

              @include breakpoint($break-small) {
                margin-bottom: 15px;
                background: white;
                padding: 10px 15px;
                color: $siasar-blue;
              }
            }
          }

          .field-com-report-links,
          .field-com-download-links {
            ul {
              display: none;
            }
            h2 {
              color: white;
              font-family: $body-font;
              font-size: 12px;
              font-weight: normal;
              display: table;
              margin-bottom: 10px;
              white-space: nowrap;
              cursor: pointer;

              @include breakpoint($break-small) {
                margin: 0 auto 15px;
              }

              &:hover {
                text-decoration: underline;
              }

              @include breakpoint($break-small) {
                font-size: 16px;
              }
            }
          }
        }

        footer {

          .field-colaboradores {
            padding: 0 10px;

            @include breakpoint($break-small) {
              padding: 0;
            }
          }

          @include breakpoint($break-medium) {
            @include display-flex;
            @include flex-wrap(nowrap);
            @include align-items(flex-start);

            .group-contact {
              order: 2;
              display: block;
            }
            .group-reports {
              order: 1;
              float: none;
            }
            .field-colaboradores {
              flex-basis: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }

}
