.node-type-success-story {
  background-color: $siasar-almost-white;

  #main-content {
    .node-success-story {
      margin: 0 auto;
      background-color: $siasar-almost-white;

      .title-header {
        background-size: contain;
        background-color: $countries-background-color;
        background-repeat: no-repeat;
      }
      .field-extra-photos {
        width: 100%;
      }
    }

    .content {
      margin-bottom: 50px;
      padding: 0 10px;
      max-width: 550px;

      @include breakpoint($break-small) {
        padding: 0 20px;
      }
      @include breakpoint($break-medium) {
        max-width: 820px;
      }
    }
  }
}
