// View block for Strategic partners Node page.

#main-content article.strategic-partners .content {
  min-height: 0;
}

#block-views-strategic-partners-block-1 {
  max-width: 960px;
  margin: 0 auto;

  h3 {
    text-align: center;
    clear: both;
    font-size: 2rem;
    margin-bottom: 0.5em;
  }
  > div {
    overflow: visible;
    position: relative;
    margin-bottom: 50px;
    @include flexboxes_container(center, flex-start, row);
  
    .item {
      width: calc(100% - 20px);
      max-width: 300px;
      height: 260px;
      background: white;
      padding: 20px;
      margin: 10px auto;

      @include breakpoint($break-small) {
        width: 300px;
        margin: 10px;
      }

      a.logo {
        @include flexbox_grid();
        height: 120px;
        width: 100%;
        margin: 0 auto 20px;

        img {
          display: block;
          max-width: auto;
          max-height: auto;
        }
      }
      h4 {
        text-align: center;
        font-size: 1.25rem;
        font-weight: normal;
        margin: 0 0 0.25em;
      }
      .description {
        font-size: 0.85em;
        color: $siasar-dark-grey; 
      }
    }

  }
}
