html {
  font-family: $body-font;
  @include kerning();
  font-weight: 400;
  font-size: 16px;
  color: black;
  background-color: $siasar-dark-blue;
  -webkit-text-size-adjust: 100%; // Required by iOS
  min-height: 100%;
}

body {
  display: block;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: $siasar_almost_white;
}

a {
  color: $siasar-blue;
  text-decoration: none;
  font-weight: normal;
}
a:hover {
  text-decoration: underline;
}

ol, ul {
  margin: 0;
  padding: 0;
  @include default_font_size();
}

h1, h2, h3 {
  margin: 0;
  color: $siasar-blue;
  font-family: $headers-font;
  line-height: 1.1;
}

h2 {
  font-size: 18px;
  margin-bottom: 1em;

  @include breakpoint($break-small) {
    font-size: 21px;
  }
  @include breakpoint($break-medium) {
    font-size: 32px;
  }
}

p {
  margin: 0 0 1em;
  @include default_font_size();
  line-height: $default-line-height;

  &:last-child {
    margin-bottom: 0;
  }
}

hr {
  border: none;
  border-bottom: 1px dashed #4bceb4;
  margin: 10px auto;
}

.page {
  border: none;
  width: 100%;
  margin: 60px 0 0;
  padding: 0;
  background-color: transparent;

  @include breakpoint($break-small) {
    margin-top: 90px;
  }
}

div[role=main] {
  width: 100%;
  padding: 0;
  margin: 0;
}
