#block-menu-menu-logins {
  margin-top: 1.5em;

  ul {
    text-align: center;

    @include breakpoint($break-medium) {
      text-align: left;
    }
  }

  li {
    display: inline-block;

    &#logout {
      display: none;
    }
    &.backend {
      margin-right: 0.4em;

      @include breakpoint($break-small) {
        margin-right: 0.5em;
      }

      a {
        background: white;
        padding: 0.5em 0.5em 0.4em;
        color: $siasar-blue;

        @include breakpoint($break-small) {
          padding: 0.7em 0.7em 0.6em;
        }
      }
    }
  }

  .logged-in & {
    li#login {
      display: none;
    }
    li#logout {
      display: inline-block;
    }
  }
}
