#block-system-main-menu,
.language-switch,
.responsive-menus.responsified span.toggler {
  transition: top $transition-fast;
}

#block-system-main-menu {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;

  a {
    font-weight: normal;
  }

  span.nolink {
    color: $siasar-blue;
    font-weight: normal;

    &:hover {
      border-bottom: solid $siasar-blue 2px;
    }
  }

  @include breakpoint($break-medium) {
    white-space: nowrap;
  }

  ul:not(.responsified) {
    display: none;

    @include breakpoint($break-medium) {
      display: block;
    }

    li {
      padding: 0 10px;
      margin-left: 0;
      position: relative;

      ul {
        display: none;
      }
      &.hover ul {
        display: block;
        position: absolute;
        top: 20px;
        left: 0px;
        padding-top: 10px;
        font-size: 0.8em;
      }
    }
  }
}

.responsive-menus.responsified {
  span.toggler {
    padding: 0;
    display: block;
    background: white;
    color: black;
    border-radius: 0;
    box-shadow: none;
    font-size: 24px;
    text-align: center;
    cursor: pointer;

    position: absolute;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
    color: $siasar-blue;

    @include breakpoint($break-small) {
      top: 23px;
    }

  }
  &.responsive-toggled .responsive-menus-simple {
    background: $siasar-light-grey;
    border-radius: 0;
    box-shadow: none;
    float: none;

    > ul {
      @include breakpoint($break-small) {
        padding: 10px 0;
        column-count: 2;
        column-gap: 40px;
      }

      > li {

        @include breakpoint($break-small) {
          break-inside: avoid;
        }

        a,
        span.nolink {
          display: block;
          font-weight: normal;
          color: $siasar-dark-blue;
          border: none;
          padding: 0.6em 1em;
          font-size: 13px;
          text-transform: uppercase;

          @include breakpoint($break-small) {
            padding: 1em 1.5em;
            font-size: 16px;
          }
        }
        ul li {
          border: none;

          a {
            padding: 0 3em 0.7em;
            text-transform: none;

            @include breakpoint($break-small) {
              padding-left: 2.25em;
            }
          }
        }
      }
    }
  }

  &.responsive-toggled.absolute {
    position: static;

    span.toggler {
      border: none;
    }

    .responsive-menus-simple {
      left: 0;
      top: 60px;

      transition: top $transition-fast;

      @include breakpoint($break-small) {
        top: 90px;
        box-shadow: 0 2px 1px rgba(0,0,0,0.25);
      }

      .scrolled-down & {
        top: 40px;

        @include breakpoint($break-small) {
          top: 60px;
        }
      }
    }
  }
}

.language-switch {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 12px;
  white-space: nowrap;
  line-height: 1;

  @include breakpoint($break-small) {
    top: 35px;
    right: 20px;
    font-size: 16px;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0;
      padding-left: 5px;
    }
  }

  a {
    text-transform: uppercase;
  }
}

// Common link styling for desktop on both main menu and lang switch
#block-system-main-menu,
.language-switch {
  a {
    font-weight: normal;

    &:hover {
      text-decoration: none;
      border-bottom: solid $siasar-blue 2px;
    }
    &.active {
      color: $siasar-cyan;
      text-decoration: none;
      border: none;
    }
  }
}
