// Pager
ul.pager {
  display: table;
  padding: 50px 0;
  margin: 0 auto;

  li {
    height: auto;
    vertical-align: middle;

    a {
      color: $siasar-blue;
      display: inline-block;
      padding: 3px;
    }

    &.pager-elipsis {
      color: $siasar-light-grey;
    }
    &.current {
      color: $siasar-light-grey;
    }
  }
}
