a.text-button,
input[type=submit] {
    display: table;
    padding: 1em;
    width: auto;
    margin: 2.5em auto;
    color: white;
    background-color: $siasar-blue;
    border: none;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;

    &:hover {
      text-decoration: underline;
    }
}

.links-to-apps {
  margin-top: 25px;
  text-align: center;

  @include breakpoint($break-small) {
    text-align: left;
  }

  a {
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    height: 40px;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: white;
    padding-left: 40px;
    padding-right: 15px;
    white-space: nowrap;
    line-height: 40px;
    color: $siasar-blue;
    cursor: pointer;

    @include breakpoint($break-small) {
      margin: 0 20px 0 0;
      height: 50px;
      line-height: 50px;
      padding-left: 50px;
    }

    &.android {
      background-image: url('../images/social_media/android.png');
    }
    &.ios {
      background-image: url('../images/social_media/apple.png');
    }
  }
}
